body {
  background-color: black;
}
p {
  color: ;
}
h1 {
  font-weight: bold;
  color: white;
}

h2 {
  color: lightskyblue;
}

li {
  color: white;
}

h3 {
  color: white;
}

.tictac {
    font-family: cursive;
  color: aquamarine;
}

.mentos {
  font-family: inherit;
  color: azure;
}

.mint {
  font-family: cursive;
  color: floralwhite;
}